<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Ajax jquery css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <!-- ajax script js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    <span class="label label-info draggable" style=" margin-left: 50px; height:50px; width:100px; cursor: all-scroll;">Element</span>
    <div class="container area col-sm-6" id="red" style="background-color: rgb(248, 125, 125); height:200px; width:200px; margin:50px;"><div id="targetRed">RED</div></div>
    <div class="container area col-sm-6" id="green" style="background-color: rgb(146, 207, 146); height:200px; width:200px; margin:50px;"><div id="targetGreen">Green</div></div>

    <script src="/static/question_page_drag_and_drop/script.js"></script>
</body>
</html>